 /* New styles for events-civicrm view */

/* style common to most fields */
.view-id-events_civicrm {
	font-family: Futura Bk BT, Kabel Bk BT, HelveticaLight, Helvetica, Arial;
	font-size: 12px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-style: normal;
}

/* styles specific to each field */



.views-field-start-date {
	border-top: 1px solid black;
	padding-top: 10px;
	font-family: Futura XBlk, Futura XBlk BT, Kabel Ult BT, Arial Black, HelveticaBlack;
	font-weight: bold;
	margin-top: 7px;
	margin-left: 0px;
	margin-bottom: 2px;
	line-height: 1.1em;	
}

.views-field-start-date-1 {
	float:left;
}


.views-field-end-date {
	float: left;
	padding-left: 5px;
	line-height: 1.1em;	
}

.dtend {
	font-family: Futura XBlk, Futura XBlk BT, Kabel Ult BT, Arial Black, HelveticaBlack;
	font-weight: bold;
}

.views-field-kicker-38 {
	clear: both;
	font-family: Futura Bk BT, Kabel Bk BT, HelveticaLight, Helvetica, Arial;
	font-style: italic;
	text-transform: uppercase;
	margin-left: 35px;
	line-height: 1.1em;
}

.cosponsor,
.views-field-co-sponsor-39 {
	clear: both;
	font-style: italic;
	margin-left: 35px;
	line-height: 1.1em;
}


.view-id-events_civicrm .views-field-title {
	clear: both;
	font-family: Futura XBlk BT, futura, Kabel Ult BT, Arial Black, HelveticaBlack;
	font-weight: bold;
	font-size: 14px;
	margin-top: 2px;

	color: #000000;
	line-height: 1.2em;
	margin-left: 35px;
}


.views-field-title-2-59 {
	font-family: Futura XBlk BT, futura bold, Kabel Ult BT, Arial Black, HelveticaBlack;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.2em;
	color: #000000;
	margin-top: 0px;

	margin-left: 35px;
}

.views-field-speaker-teachers-performers-22 {
	font-family: Times New Roman, Serif; 
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 3px; 

	color: #000000;
	margin-left: 35px;	
}

.views-field-film-data-40 {
	line-height: 1.1em;	
	margin-left: 35px;
}

.views-field-summary {
	line-height: 1.2em;
	margin-left: 35px;
}

.views-field-description {
  	line-height: 1.2em;
  	margin-left: 35px;
}

.views-field-bios-23 {
	line-height: 1.2em;
	margin-left: 35px;
}

.views-field-fee-display-63 {
	text-align: right; 
	margin-right: 0px;
	font-size: 9pt; 
	font-family: Futura Bk BT, Futura Bd, Kabel Md BT, Helvetica, Arial; 
	font-style: italic;
	margin-left: 0px; 
	margin-bottom: 5px; 
}

.views-field-text-link {
	color: blue;
	font-weight: bold;
	font-family: Futura Bk BT, Kabel Bk BT, HelveticaLight, Helvetica, Arial;
	font-size: 9pt;
	text-align: right;
	margin-right: px;
	margin-bottom: 0px;
	line-height: 1.1em;
}

.views-field-text-link a {
	color: blue;
	font-weight: bold;
	font-family: Futura Bk BT, Kabel Bk BT, HelveticaLight, Helvetica, Arial;
	font-size: 9pt;
	text-align: right;
	margin-bottom: 0px;
	line-height: 1.1em;
}




/* End of events-civicrm view */

/* pre-views styles used on civicrm generated pages */

.fulldate {
	font-family: Futura XBlk BT, Kabel Ult BT, Arial Black, HelveticaBlack;
	font-size: 12px;
	font-weight: bold;
	margin-top: 7px;
	margin-bottom: 0px;
	margin-left: 10px;
	line-height: 1em;	
}

.calendartitle {
	font-family: Futura XBlk BT, Kabel Ult BT, Arial Black, HelveticaBlack;
	font-size: 14px;
	font-weight: bold;
	margin-top: 4px; 
	margin-bottom: 0px; 
	margin-left: 35px;
	font-style: normal;
	line-height: 1em;
	color: #000000;
}

.calendarsubtitle {
	font-family: Futura XBlk BT, Kabel Ult BT, Arial Black, HelveticaBlack;
	font-size: 12px;
	font-weight: bold;
	margin-top: 0px; 
	margin-bottom: 5px; 
	margin-left: 35px;
	font-style: normal;
	color: #000000;
}
.calendartext {  
	font-family: Futura Bk BT, Kabel Bk BT, HelveticaLight, Helvetica, Arial; 
	font-size: 12px; 
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px; 
	margin-left: 35px; 
	font-style: normal;
	line-height: 1.2em;
	}
.calendartext a {
	color: blue;
}

.register {
	text-align: right; 	
	font-family: Futura XBlk BT, Kabel Ult BT, Arial Black, HelveticaBlack;
	font-size: 14px;
	margin-top: 4px;
	margin-bottom: 10px;
	margin-left: 0px;
	font-style: italic;
	padding-bottom: 10px;
}

.register a {	color:#993366}

/* End of pre-views styles used on civicrm generated pages */

/* zen specific styles */


.page-civicrm-event-info h1 {
	display: none;
}

/* End zen specific styles */
