

/* display suite regions */
.nd-region-header .field-author,
.node-type-page .field-test-key {
	display: none;
}

.field-field-read-more a {
	color: #000000;
}

#pid-economywatch h1.title {
	display: none;	
}

.view-display-id-block_3 {
	width: 580px;
}

.view-display-id-block_1 {
	width: 535px;
}


.view-zineview .field-read-more a {
	color: red;
}

	/* video block */
	
#block-views-video-block_9 {
	margin-top: 0px;

}
/* Header Group 
.header-group-wrapper {
  float: left;
  height: 170px;
}*/


#block-views-video-block_7 {
	margin-top: -10px;
	margin-left: -10px;
}

#block-views-video-block_9 .views-field-title {
	font-size: 9px;
	line-height: 10px;
	text-align: left;
	margin-left: 20px;
	}


#block-views-video-block_7 .views-field-title {
	font-size: 9px;
	line-height: 10px;
	text-align: left;
	
	}
	
	#block-views-video-block_9 .block-title {
		margin-left: 20px;
	}
	
#block-views-video-block_9 .block-title,
#block-views-video-block_7 .block-title {
	font-style: normal;
	text-align: center;	
	font-family: "Futura XBlk BT", "Kabel Ult BT", "Arial Black", "HelveticaBlack";
	font-size: 1.3em;
	margin-top: 15;
	bottom: 0;
	text-transform: uppercase;


}
	
#block-views-video-block_7 .field-item-1,
#block-views-video-block_7 .field-item-2,
#block-views-video-block_7 .field-item-3,
#block-views-video-block_7 .field-item-4,
#block-views-video-block_7 .field-item-5 {
	display: none;

}

block-views-Economy-block_1 .field-title {
	Margin-top: 10px;
}

#block-views-Economy-block_1 {
	margin-top: -10px;

}


#block-views-zineview-block_3,
#block-views-zineview-block_1 {

	margin-right: 0px;
	
}



/* begin links styles */



.node-type-content-links .title a,
.node-type-content-links .title,
.view-id-links .views-field-title {
	width: 100%;
	border-top: 1px solid black;
	padding-top: 10px;	
	font-family: Futura XBlk BT, Kabel Ult BT, Futura, Arial Black, HelveticaBlack;
	font-weight: bold;
	text-transform: none;
	font-size: 12px;
	margin-top: 4px; 
	margin-bottom: 0px; 
	font-style: normal;
	color: #000000;
}


.node-type-content-links .field-field-description-0,
.views-field-field-description-0-value {  
	font-family: Futura Bk BT, futura, Kabel Bk BT, HelveticaLight, Helvetica, Arial; 
	font-size: 12px; 
	margin-top: 2px;
	margin-right: 0px;
	margin-bottom: 0px; 
	margin-left: 35px; 
	font-style: normal;
	line-height: 1.2em;
	}
	
.node-type-content-links .weblinks a,
.views-field-field-weblink-url a {
	color: blue;
	padding-top: 0px;
	padding-bottom: 15px;
	font-family: Futura Bk BT, Kabel Bk BT, HelveticaLight, Helvetica, Arial;
	font-size: 12px;
	color: #993366;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 35px;
	margin-bottom: 8px; 	
	font-weight: bold;
	line-height: 1.1em;
}

#block-search-0 h2.title {
	display: none;
}

#block-views-links-block_1 .title {
	margin-left: 0px;
}


#block-views-links-block_1 .views-field-title a {
	 display: block;
	 height: 23x;
	 width: 105px;	
	 color: #7e7c6b;
	 font-family: futura, Arial, Helvetica, sans-serif;
	 text-decoration: none;	
	 font-size: 9px;
	 font-weight: bold;
	 text-transform: uppercase;

	 margin-left: 0;
	 padding: 0px;
	 padding-bottom: 6px;
	 margin-right: 10px;
}




#block-views-links-block_1 .views-field-field-weblink-url a {
	font-size: 10px;

}

#block-views-links-block_1  {
	width: 160px;

 	indent: none;
 	margin-left: 0px;
 	margin-right: 0px;
 	
}




 /* End links styles */
 

/* styles for podcasts */




.podcast-date {
	width: 100%;
	padding-top: 10px;
	font-family: Futura Bk BT, futura, Kabel Bk BT, HelveticaLight, Helvetica, Arial;
	margin-top: 7px;
	line-height: 1.1em;	
}




.view-id-Podcasts .views-table {
	background: none;
	width: 600px;
}




.node-type-podcasts h1.title {
	text-transform: none;	
	font-family: Futura XBlk BT, futura, Kabel Ult BT, Arial Black, HelveticaBlack;
	font-size: 14px;
	font-style: bold;
	color: black;

}	

.node-type-podcasts h2.title {
	display: none;
}

.node-type-podcasts .podcast-speaker_first_name {
	float: left;
	font-family: Futura Bk BT, futura, Kabel Bk BT, HelveticaLight, Helvetica, Arial;
	font-size: 13px;
	font-style: normal;
	padding-right: 3px;
}


.node-type-podcasts .podcast-speaker_last_name {
	font-family: Futura Bk BT, futura, Kabel Bk BT, HelveticaLight, Helvetica, Arial;
	font-size: 13px;	font-style: normal;
}

.node-type-podcasts .podcast-class_term {
	font-family: Futura Bk BT, futura, Kabel Bk BT, HelveticaLight, Helvetica, Arial;
	font-size: 13px;
	font-style: normal;
	padding-bottom: 6px;
}

.node-type-podcasts .field-field-description-1 {
	font-family: Futura Bk BT, futura, Kabel Bk BT, HelveticaLight, Helvetica, Arial;
	font-size: 13px;
	font-style: normal;
	line-height: 1.2em;
	padding-bottom: 6px;
}

.node-type-podcasts .field-type-number-integer, 
.node-type-podcasts .field-type-number-integer .field-field-session {
	font-family: Futura Bk BT, futura, Kabel Bk BT, HelveticaLight, Helvetica, Arial;
	font-size: 11px;
	font-style: normal;
	padding-bottom: 10px;
} 

.view-id-Podcasts table.views-table td {
	border-top: 1px solid #000;
	padding-top: 4px;
	padding-bottom: 4px;

}	

.view-id-Podcasts .views-field-field-speaker-first-name-value {
	float: left;
	font-family: Futura Bk BT, futura, Kabel Bk BT, HelveticaLight, Helvetica, Arial;
	font-size: 9px;
	font-style: normal;
	
}

.view-id-Podcasts .views-field-field-speaker-last-name-value {

	font-family: Futura Bk BT, futura, Kabel Bk BT, HelveticaLight, Helvetica, Arial;
	font-size: 9px;
	font-style: normal;
	
}
.view-id-Podcasts .views-field-title {
	font-family: Futura, Kabel, Helvetica, Arial;
	font-size: 9px;
	font-weight: bold;
	padding-right: 4px;
}

#block-views-Podcasts-block_2 .views-field-title {
	border-top: 1px;
	padding-top: 10px;
	font-family: Futura, Kabel, Helvetica, Arial;
	font-size: 11px;
	font-weight: bold;
	padding-right: 4px;
}

.view-id-Podcasts .views-field-field-date-value {
	font-family: Futura Bk BT, futura, Kabel Bk BT, HelveticaLight, Helvetica, Arial;
	font-size: 9px;
	font-style: normal;
}

.view-id-Podcasts td.views-field-field-class-term-value {
	border-top: 1px solid #000;
	font-family: Futura Bk BT, futura, Kabel Bk BT, HelveticaLight, Helvetica, Arial;
	font-size: 9px;
	font-style: normal;
}


/* End of styles for podcasts */


/* begin blocks */


#links-block_1 {
	background: red;
	width: 160px;
}


#block-block-inner-53 {
	background: red;
}


/* Beginning of themed blocks */

.redblock {
	background: red;
	color: #fff;
	}

.thinboxright {
 border: 1px solid black;
 padding: 0px;
 margin-top: 5px;
 margin-bottom: 10px;
 text-align: center;
}


/* Features Block */
#block-block-61 {
	margin-top: 0px;

}

#block-block-65 {
	margin-top: -15px;
}

#block-block-71 {
	margin-top: -15px;
	width: 580px;
}		
		
#block-block-6 {
	font-family: "Futura Bk BT", "Kabel Bk BT", HelveticaLight, Helvetica, Arial;

 	border-style: solid;
	 border-width: 1px;
	 border-color: black;	
	font-size: 10px;
	line-height: 1.5em;	
	padding-top:16px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 16px;
	background: #000000;
	color: white;
}

/* End of themed blocks */

#block-views-events_civicrm-block_1
{
	width: 580px;
}


/* Beginning of Video blocks */

#block-views-video-block_2 {
	float: right;
	font: Futura Bk BT, Futura, Kabel Bk BT, HelveticaLight, Helvetica, Arial;
	font-size: 10px;
	line-height: 11px;
	margin-right: 0px;
	margin-left: 0px;
	width: 160px;


}

#block-views-video-block_2 .title {
	text-transform: uppercase;
	display: block;
	font-size: 11px;
	text-align: center;

	border-top: 1px;
	border-bottom: 1px;
	border-color: black;

}

#block-block-83 .title {
	display: none;
}

.view-id-video .views-field-title {
	margin-top: 6px;
}

#block-block-101 {
	margin-bottom: -90px;
	zindex: 1;
	
}
	

	


/* Beginning of Podcast blocks */

#block-views-Podcasts-block_1 {
	width: 150px;
	font: Futura Bk BT, Futura, Kabel Bk BT, HelveticaLight, Helvetica, Arial;
	margin-top: -40px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	background: #B7B3A2;
	padding: 8px;
	color: #000000;


}

#block-views-Podcasts-block_1 .views-field-title a {
	font: Futura Bk BT, Futura, Kabel Bk BT, HelveticaLight, Helvetica, Arial;
	font-size: 10px;
	line-height: 10px;
	margin-top: 0px;
	font-weight: bold;
	
	text-decoration: none;
	color: #000000;

}

#block-views-Podcasts-block_1 .title {
	font: Futura Bk BT, Futura, Kabel Bk BT, HelveticaLight, Helvetica, Arial;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 11px;
	text-align: center;
	color: #000000;
}


#block-views-Podcasts-block_1 .views-field-field-speaker-first-name-value  {
    font: Futura Bk BT, Futura, Kabel Bk BT, HelveticaLight, Helvetica, Arial;
	float: left;
	font-size: 10px;
	line-height: 10px;
	padding-right: 2px;

}


#block-views-Podcasts-block_1 .views-field-field-speaker-last-name-value  {
	font: Futura Bk BT, Futura, Kabel Bk BT, HelveticaLight, Helvetica, Arial;
	font-size: 10px;
	line-height: 10px;
	padding-bottom: .5em;

}

#block-views-Podcasts-block_1 .view-footer {
    font: Futura Bk BT, Futura, Kabel Bk BT, HelveticaLight, Helvetica, Arial;
	font-size: 10px;
	line-height: 10px;
	padding-bottom: 2px;
}

/* End of Podcast blocks */

#block-block-99,
#block-block-98 {
	
	 margin-bottom: -17px;
}

#block-block-99 {

	}

#scrolltext {
	background: url(/files/images/Banner-green5.jpg);
	height: 118px;
	line-height: 80px;
	color: white;

}

#block-scrolltext {
	background: url(/files/images/Banner-green5.jpg);
	height: 118px;
	line-height: 80px;
	color: white;

}

#scrolltext a {
display: none;
}
	

#block-block-63 {
	margin-top: -20px;
	width: 580px;
}

#block-block-x {
	background: red;
	 border-style: solid;
	 border-width: 1px;
	 border-color: black;
	 padding-top: -8px;
	 padding-right: 8px; 
	 padding-left: 8px;
	 margin-top: 10px;
	 margin-bottom: 10px;
}
/*Marx in Soho Block*/
#block-block-14 {
 border-style: solid;
 border-width: 1px;
 border-color: black;
 padding-top: -8px;
 padding-right: 8px; 
 padding-left: 8px;
 margin-top: 10px;
 margin-bottom: 10px;
}
/*Donate Block*/
#block-block-32, #block-block-36 {
 border: 1px solid black;
 padding: 0px;
 margin-top: 5px;
 margin-bottom: 10px;
 text-align: center;
}

/*Thanks Block*/
#block-block-47 {
 border-top: 1px solid black;
 padding: 0px;
 margin-top: 80px;
 margin-bottom: 10px;
 text-align: left;
}


/*Summer Spanish*/
#block-block-45 {
 border: 1px solid black;
 padding: 0px;
 margin-top: 5px;
 margin-bottom: 10px;
 text-align: center;
}

/*Announcements 4*/
#block-block-43 {
 width: 155px;
 border: 1px solid black;
 padding: 0px;
 margin-top: -5px;
 margin-bottom: 10px;
 text-align: center;
}

/*Footer*/
#block-block-48 {

 padding: 0px;
 margin-top: 5px;
 margin-bottom: 10px;
 text-align: center;
}


/*Capitalism Banner*/
#block-block-41 {
 border-style: solid;
 border-width: 1px;
 border-color: black;
 padding: 0px;
 margin-top: 5px;
 margin-bottom: 10px;
 text-align: center;
}

/*Donate Button-left*/
#block-block-39 {
 border-style: solid;
 border-width: 1px;
 border-color: black;
 padding: 0px;
 margin-top: 5px;
 margin-bottom: 10px;
 text-align: center;
}

/*Lifesaver2 Donate Block*/
#block-block-40 {
 border-style: solid;
 border-width: 1px;
 border-color: black;
 padding: 0px;
 margin-top: 5px;
 margin-bottom: 10px;
 text-align: center;
}
/*Sub Info Block*/
#block-block-34 {
 border-style: solid;
 border-width: 1px;
 border-color: black;
 padding-top: 8px;
 padding-right: 8px; 
 padding-left: 20px;
 margin-top: 5px;
 margin-bottom: 10px;
}


/*John Brown Block*/
#block-block-16 {
 border-style: solid;
 border-width: 1px;
 border-color: black;
 padding-top: -8px;
 padding-right: 8px; 
 padding-left: 8px;
 margin-top: 10px;
 margin-bottom: 10px;
}

#block-block-8 {
 width: 149px;
 border-style: solid;
 border-width: 1px;
 border-color: black;
 padding-top: -8px;
 padding-right: 3px; 
 padding-left: 3px;
 margin-top: 10px;
 margin-bottom: 10px;
}

#block-block-12 {
 border-style: solid;
 border-width: 1px;
 border-color: black;
 padding-top: -8px;
 padding-right: 8px; 
 padding-left: 8px;
 margin-top: 10px;
 margin-bottom: 10px;
}

#block-block-29 {
 border-style: solid;
 border-width: 0px;
 padding-top: -8px;
 padding-right: 8px; 
 padding-left: 0px;
 margin-top: 10px;
 margin-bottom: 10px;
}

/* Social media block */
#block-block-58 {
	height: 50px;
	text-align: center;
	margin-bottom: 10px;

}	




		
/*Freedom at Risk Block*/
#block-block-18, #block-block-20 {
 border-style: solid;
 border-width: 1px;
 border-color: black;
 padding-top: -8px;
 padding-right: 8px; 
 padding-left: 8px;
 margin-top: 10px;
 margin-bottom: 10px;
}
/*Zizek Block*/
#block-block-19 {
 border-style: solid;
 border-width: 1px;
 border-color: black;
 padding-top: -8px;
 padding-right: 8px; 
 padding-left: 8px;
 margin-top: 10px;
 margin-bottom: 10px;
}



/*email subscribe-page 1
#block-block-59 {
 height: 145px;
 border-style: solid;
 border-width: 1px;
 background: #DDD9D3;
 border-color: black;
 padding-right: 5px; 
 padding-left: 5px;
 margin-top: -33px;
 margin-bottom: 0px;
}*/

#block-block-59 {
 font: Futura Bk BT, Futura, Kabel Bk BT, HelveticaLight, Helvetica, Arial;
 font-size: 10px;
 color: black;
 height: 140px;
 width: 140px;
 border-style: solid;
 border-width: 1px;
 background: #DDD9D3;
 border-color: black;
 padding-top: -8px;
 padding-right: 8px; 
 padding-left: 8px;
 padding-bottom: 10;
 margin-top: 0px;
 margin-bottom: 0px;
}


/*email subscribe-other pages*/

#block-block-2 {
 font: Futura Bk BT, Futura, Kabel Bk BT, HelveticaLight, Helvetica, Arial;
 font-size: 7.5px;
 color: black;
 height: 175px;
 width: 160px;
 border-style: solid;
 border-width: 1px;
 background: #DDD9D3;
 border-color: black;
 padding-top: -8px;
 padding-right: 8px; 
 padding-left: -10px;
 padding-bottom: 10;
 margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;

}

#block-block-57 {
	margin-top: 200px;
	padding-top: 0;
	height: 174px;
	margin-bottom: 30px;



/*Party like it's 1968*/
#block-block-20 {
 border-style: solid;
 border-width: 1px;
 border-color: black;
 padding-top: -8px;
 padding-right: 8px; 
 padding-left: 8px;
 margin-top: 10px;
 margin-bottom: 10px;
}

/*Exhibit Block*/
#block-block-21 {
 border-style: solid;
 border-width: 1px;
 border-color: black;
 padding-top: 0px;
 padding-right: 0px; 
 padding-left: 0px;
 margin-top: 10px;
 margin-bottom: 10px;
}

/*Announcement1 Block*/
#block-block-22 {
 border-style: solid;
 border-width: 1px;
 border-color: black;
 padding: 0px;
 margin-top: 5px;
 margin-bottom: 10px;
 text-align: center;
}


/*Announcement2 Block*/
#block-block-23 {
 border-style: solid;
 border-width: 1px;
 border-color: black;
 padding-top: -20px;
 padding-right: 8px; 
 padding-left: 8px;
 margin-top: 0px;
 margin-bottom: 0px;
}

/*Announcement3 Block*/
#block-block-24 {
 border-style: solid;
 border-width: 1px;
 border-color: black;
 padding: 1px
 margin-top: 10px;
 margin-bottom: 0px;
}

/* Centering the user login is default and IMHO looks ugly */
#block-user-0 div {
 text-align: left;
 width: 160px;
}

/* Request password does not need bullet - it's the only item on the list now */

#block-user-0 li {
 list-style: none;
 margin-left:0px;

}



#block-user-1 h2 {
 display: none;
}

/* End of Blocks Styles */


	
.logo-title {
	display: none;
}



/* Beginning of civicrm styling */

#crm-container {
	font-family: Futura Bk BT, Kabel Bk BT, HelveticaLight, Helvetica, Arial;
	font-size: 12px;
	font-style: normal;
}

#crm-container 
.header-dark {
	background-color: #FFFFFF;
	font-family: Futura, Kabel, Helvetica, Arial;
	font-size: 12px;
	color: #000000;
	border-top: 1px solid black;
	padding-top: 5px;
	margin-top: 10px;
	padding-left: 0px;
}

#crm-container tr {
	font-size: 12px;
	font-family: Futura, Kabel, Helvetica, Arial;
	font-weight:	normal;
	margin:1em 2em;
}

#crm-container table {
	border:1px solid #cccccc;
	border-collapse:collapse;
	margin:0.5em 0.1em;
	width:99%;
}

#crm-container
tr.columnheader {
	background-color: #cccccc;
 	border: 1px solid #cccccc;

}

#crm-container .form-layout-compressed td, #crm-container .form-layout-compressed th {
	padding-left:5px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 5px;
	vertical-align:text-top;
}


 .rule {
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0px;
	font-size: 1pt;
	border-bottom-width: .75pt;
	border-bottom-style: solid;
	border-bottom-color: #000033;
	}
	




